*{
  font-family: helvetica, san
}
body{
  text-align: center;
  font-family: helvetica;
}
.head, .design{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-weight: bold;
}
.head{
  color: white;
}
.head p{
  font-size: 18px;
}
.head h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
}
p{
  font-size: 14px;
}
.design{
  font-size: 23px;
}
#foot{
  background-color: dimgray;
  font-size: 11px;
  font-color: white;
  text-align: left;
}
#foot a{
  font-size: 18px;
}
